body {
    background-image: linear-gradient(to right,
     #ff8177 0%, #ff867a 0%, #ff8c7f 21%, 
     #f99185 52%, #cf556c 78%, #b12a5b 100%);
     display: flexbox;
     justify-content: space-evenly;
     
}



@media screen and ( max-width: 390px) {
    
 
.container { position: relative;}



header { text-align: center;
border: solid 1px rgba(225, 202, 214, 0.8);
background: rgba(225, 202, 214, 0.5);
position: relative;
top: 10px;
}

img {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    border-radius: 50%;
}


section { 
    border: solid 1px rgba(225, 202, 214, 0.8);
    padding-left: 20%;
    background: rgba(225, 202, 214, 0.5);
    text-decoration: underline;
   
} 

article { border: solid 1px rgba(225, 202, 214, 0.8);
    background: rgba(225, 202, 214, 0.5);
    margin-top: 40px;
    padding: 15px;
    position: relative;
    top: 30%;
    }

footer { 
    border: solid 1px rgba(225, 202, 214, 0.8);
    background: rgba(225, 202, 214, 0.5);
 text-align: center;
padding: 10px;
margin-left: auto;
margin-right: auto;
position: relative;
top: 100px;
}
}

@media screen and ( min-width: 400px) {

    header { font-size: 40px;
    text-align: center;
border: solid 2px rgba(225, 202, 214, 0.8);
border-radius: 12px;
background: rgba(225, 202, 214, 0.5);}
img { position: relative;
    left: 23%;
    border-radius: 50%;
    padding: 10%;}
section { position: relative;
bottom: 500px;
border: solid 1px  rgba(225, 202, 214, 0.8);
background: rgba(225, 202, 214, 0.5);
width: fit-content;
height: 100%;
padding: 10px;
margin: 20px;
text-decoration: underline ;}
article { border: solid 1px  rgba(225, 202, 214, 0.8);
    width: 20%%;
    
    background: rgba(225, 202, 214, 0.5);
    position:absolute;
    top: 780px;
    left: 30%;
    padding: 5%;
    text-align: center;
    text-decoration: underline;
}
footer { position: absolute;
top: 670px;
left: 40%;
margin: 20px;}
    
}
    
