@media screen and ( max-width: 844px) {
    
 { 
    
}
body {
    background-image: linear-gradient(to right,
     #ff8177 0%, #ff867a 0%, #ff8c7f 21%, 
     #f99185 52%, #cf556c 78%, #b12a5b 100%);
}
img {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
header { text-align: center;
border: solid;
background: rgba(red, green, blue, alpha);}
